
    <div class="main-block">
        <div class="center-part">
        </div>
        <form action="" enctype="multipart/form-data" (ngSubmit)="updateCollaboration()"#f="ngForm">
          <div class="title">
            <i class="fas fa-pencil-alt"></i>
            <h2>Register here</h2>
          </div>
          
          <div class="col-lg-6 row m-0 p-0">
          <div id="post-modal-data" class="card card-block card-stretch card-height">
            <p>name</p>
            <input [(ngModel)]="Collaboration.name" class="fname" type="text" name="name" placeholder=" name" [ngModelOptions]="{standalone: true}">
           <br>
            <p>email</p>
            <input [(ngModel)]="Collaboration.email"type="text" name="name" placeholder="Email" [ngModelOptions]="{standalone: true}">
            <br>
            <p>phone</p>
            <input [(ngModel)]="Collaboration.phone" type="text" name="name" placeholder="Phone number" [ngModelOptions]="{standalone: true}">
            <br>
            <p>description</p>
            <br>
            <input [(ngModel)]="Collaboration.description"type="String" name="name" placeholder="description" [ngModelOptions]="{standalone: true}">
            <br>
            <p>date</p>
            <input [(ngModel)]="Collaboration.date"type="date" name="name" placeholder="dater" [ngModelOptions]="{standalone: true}">
            <br>
            <p>town</p>
            <input [(ngModel)]="Collaboration.town"type="String" name="name" placeholder="Town" [ngModelOptions]="{standalone: true}">
            <br>
            <p>rate</p>
            <input [(ngModel)]="Collaboration.rate"type="String" name="name" placeholder="rate" [ngModelOptions]="{standalone: true}">
            <br>
            <p>Image</p>
            <input (change)="onFileSelected($event)"
                type="file"
                class="form-control-file"
                id="exampleFormControlFile1"
                />
          </div>
          <button type="submit">Submit</button>
        </div>
        </form>
      </div>
  
  