<app-header></app-header>
<section>
  <div class="gap no-gap">
    <div class="container-fluid no-pad">
      <div class="row no-gutters">
        <div class="col-lg-2">
          <div class="side-area">
            <ul class="side-links">
              <li>
                <a class="active" href="#" title=""
                  ><i class="icofont-video-cam"></i> Live Stream</a
                >
              </li>
              <li>
                <a href="#" title=""><i class="icofont-calendar"></i> Manage</a>
              </li>
              <li>
                <a href="#" title=""
                  ><i class="icofont-camera-alt"></i> Webcam</a
                >
              </li>
              <li>
                <a href="#" title=""><i class="icofont-gears"></i> Settings</a>
              </li>
              <li>
                <a href="#" title=""
                  ><i class="icofont-comment"></i> Feedback</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="screen-area mt-3 pd-20">
            <div id="my_camera"></div>
            <div class="stream-controls">
              <ul>
                <li>
                  <i class="icofont-users-alt-3"></i> Participants
                  <span>2</span>
                </li>
                <li><i class="icofont-record"></i> Mute</li>
                <li><i class="icofont-video"></i> Stop video</li>
                <li><i class="icofont-dotcms"></i> Record Video</li>
                <li><i class="icofont-comment"></i> Chat</li>
                <li><i class="icofont-slidshare"></i> Share Screen</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="livestream-chat">
            <div class="livechat-head">
              <h5><i class="icofont-live-support"></i> Live Chat</h5>
              <div class="more">
                <div class="more-post-optns">
                  <i class="">
                    <svg
                      class="feather feather-more-horizontal"
                      stroke-linejoin="round"
                      stroke-linecap="round"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      viewBox="0 0 24 24"
                      height="24"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle r="1" cy="12" cx="12" />
                      <circle r="1" cy="12" cx="19" />
                      <circle r="1" cy="12" cx="5" /></svg
                  ></i>
                  <ul>
                    <li>
                      <i class="icofont-user-alt-3"></i> Participants
                      <span>How many user are live with you</span>
                    </li>
                    <li>
                      <i class="icofont-external-link"></i> Popout chat
                      <span>Open chat in new tab</span>
                    </li>
                    <li>
                      <i class="icofont-ban"></i> Hide Chat
                      <span>Hide chat from Your side</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="chat-content">
              <div class="date">Wednesday 25, March</div>
              <ul class="chatting-area max-height">
                <li class="you">
                  <figure>
                    <img src="assets/images/resources/userlist-2.jpg" alt="" />
                  </figure>
                  <p>what's liz short for? :)</p>
                </li>
                <li class="me">
                  <figure>
                    <img src="assets/images/resources/userlist-1.jpg" alt="" />
                  </figure>
                  <p>Elizabeth lol</p>
                </li>
                <li class="me">
                  <figure>
                    <img src="assets/images/resources/userlist-1.jpg" alt="" />
                  </figure>
                  <p>wanna know whats my second guess was?</p>
                </li>
                <li class="you">
                  <figure>
                    <img src="assets/images/resources/userlist-2.jpg" alt="" />
                  </figure>
                  <p>yes</p>
                </li>
                <li class="me">
                  <figure>
                    <img src="assets/images/resources/userlist-1.jpg" alt="" />
                  </figure>
                  <p>Disney's the lizard king</p>
                </li>
                <li class="me">
                  <figure>
                    <img src="assets/images/resources/userlist-1.jpg" alt="" />
                  </figure>
                  <p>i know him 5 years ago</p>
                </li>
                <li class="you">
                  <figure>
                    <img src="assets/images/resources/userlist-2.jpg" alt="" />
                  </figure>
                  <p>coooooooooool dude ;)</p>
                </li>
                <li class="you">
                  <figure>
                    <img src="assets/images/resources/userlist-2.jpg" alt="" />
                  </figure>
                  <p><img src="assets/images/smiles/heart.png" alt="" /></p>
                </li>
                <li class="you">
                  <figure>
                    <img src="assets/images/resources/userlist-2.jpg" alt="" />
                  </figure>
                  <p><img src="assets/images/smiles/smiling.png" alt="" /></p>
                </li>
                <li class="you">
                  <figure>
                    <img src="assets/images/resources/userlist-2.jpg" alt="" />
                  </figure>
                  <p>hahaahhhahah</p>
                </li>
              </ul>
            </div>
            <form method="post" class="text-bottom">
              <textarea
                id="emojionearea2"
                placeholder="wirte someting"
              ></textarea>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
