<div class="widget">
    <span><i class="icofont-globe"></i> Sponsored</span>
    <ul class="sponsors-ad">
        <li>
            <figure><img src="assets/images/resources/sponsor.jpg" alt=""></figure>
            <div class="sponsor-meta">
                <h5><a href="#" title="">IQ Options Broker</a></h5>
                <a href="#" title="" target="_blank">www.iqvie.com</a>
            </div>
        </li>
        <li>
            <figure><img src="assets/images/resources/sponsor2.jpg" alt=""></figure>
            <div class="sponsor-meta">
                <h5><a href="#" title="">BM Fashion Designer</a></h5>
                <a href="#" title="" target="_blank">www.abcd.com</a>
            </div>
        </li>
    </ul>
</div><!-- sponsord -->
